# Environments
.env
.env.*
.env.example
__pycache__/
*.pyc

# IDEs and Tools
.vscode/
.idea/
.claude/
.agent/

# Dependencies
node_modules/
.next/

# Excluded folders
taste-skill/
dashboard/node_modules/
*skill*/
skills/

# Other ignored files
*.docx
