@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  
  --color-zinc-850: #27272a;
  --color-offwhite: #FBFBFA;
  --color-primary-50: #eff4ff;
  --color-primary-600: #1B4BA0;
  --color-primary-700: #153c82;
}

/* Custom utilities that we might need */
@layer utilities {
  .smooth-corner {
    border-radius: 1.5rem; /* rounded-3xl approx */
  }
}
